PORT=80 #This is the port bookserver wil run on!
PROXY=0 #Are you using a proxy?
SECRET=your_secret_here #This is used to secure user cookies
LOG=0 #Log what requests are made on your server?
SILENTLOG=0 #Want the requests log to only show up on the file?
MASTERLOG=1 #Want to log when an Admin does something?
SESSION_TIMEOUT=900000 #Sessions will timeout after this amount of miliseconds (15 mins)
SESSION_CLEANUP_INTERVAL=1800000 #Unused data will be cleaned from the keys database based on this interval (30 mins)