/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
	color-scheme: dark;
}

:root {
  --fontmain: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --layer0: #121212;
  --layer1: #1c1c1c;
  --layer2: #232323;
  --layer3: #2e2e2e;
  --layer4: #333333;
  --layer5: #404040;
  --accent-color: #3d54ff;
  --accent-light: #b6bfff;
  --accent-vlight: #d0d5ff;
  --accent-bg: #3d54ff22;
  --success-color: #00ff00;
  --success-light: #9bff9b;
  --alert-color: #ff7272;
  --alert-light: #ffd2d2;
  --main-color:rgba(255, 255, 255, 0.95);
  --sub-color:rgba(255, 255, 255, 0.65);
  --dark-color:rgba(255, 255, 255, 0.25);
  --mute-color:rgba(255, 255, 255, 0.45);
  --pkt-bg:rgba(255, 255, 255, 0.025);
  --pkt-bg-1:rgba(255, 255, 255, 0.05);
  --pkt-bg-dark:rgba(0, 0, 0, 0.5);
  --pkt-border:rgba(255, 255, 255, 0.15);
  --pkt-reflection:inset 0 1px 0 rgba(255, 255, 255, 0.25),inset 0 10px 20px rgba(255, 255, 255, 0.05),inset 0 -15px 30px rgba(0, 0, 0, 0.25);
  --pkt-shadow: rgba(0,0,0,0.4) 0px 10px 20px;
  --pkt-filter:blur(4px) saturate(140%);
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {
  background: var(--layer2); /* calc(var(--layer)+#1111) */
}
::-webkit-scrollbar-thumb {
  background: var(--layer4);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {background:var(--layer5);}
::-webkit-scrollbar-thumb:active {box-shadow: 0 0 10px var(--accent-color);}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {outline: none;}

body {
	background-color: var(--layer0);
	font-family: var(--fontmain);
	overflow-x: hidden;
	color: var(--main-color);
	background-image: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover; /*https://4kwallpapers.com/images/walls/thumbs_3t/14933.jpg*/
}

@keyframes fadeIn {
  0% { opacity: 0 }
}

@keyframes riseIn {
  0% { transform: translateY(30px) }
}

h1 {
	text-align: center;
	font-size: 50px;
}

button,a {
	overflow: hidden;
}
a, button, input[type="text"], input[type="number"], input[type="password"], .timeComponent, .item, .alertMsg_Msg, .toggle-row, .toggle-track {
	display: inline-block;
	border-radius: 30px;
	position: relative;
	border: var(--pkt-border) solid 1px;
	background: var(--pkt-bg-1);
	color: var(--accent-vlight);
	box-shadow: var(--pkt-shadow), var(--pkt-reflection);
	padding: 10px 20px;
	transition: box-shadow .3s ease-out, color .1s ease-out, transform .2s ease-out, border-color .3s ease-out, background .3s ease-out;
	width: 100%;
}

button {
	padding: 10px 30px;
	cursor: pointer;
	min-width: max-content;
	max-width: max-content;
}

button::before, a::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to right,transparent,rgba(255,255,255,.15),transparent);
	transform: translateX(-100%);
	transition: transform .3s ease-out;
}

button:hover::before, a:hover::before {
	transform: translateX(100%);
}

a:hover,button:hover {
	transform: scale(1.02);
}
input:focus,button:hover,a:hover {
	border-color: white;
 	box-shadow: 0 0 30px var(--accent-color), 0 0 10px var(--accent-color) inset;
	background: var(--accent-bg);
	color: var(--accent-light);
}
button,input {font-size: 20px;font-weight:bold;}
input{font-weight:200;color: var(--main-color) !important;}

input[type="text"],input[type="password"],.marright{margin-right: 20px;}

.marbot {
    margin-bottom: 10px;
}

.item, .toggle-row, .toggle-track {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
	position: relative;
}

button:active,a:active {
	transform: scale(0.9);
}

.list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    width: 100%;
}

.book {
	/* margin: 10px 0; */
	display: grid;
	width: 100%;
	animation: riseIn .4s ease-out;
}
.book a {
	text-decoration: none;
	width: 100%;
	text-align: center;
}

#caption {
	text-align: center;
	display: block;
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 20px;
	color: var(--mute-color);
}

footer {
	color: var(--mute-color);
	font-size: 13px;
	font-weight: 300;
	margin: 20px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer.footer-floating {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 30;
  pointer-events: none;
  padding: 20px 30px;
  width: 100%;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.28),transparent);
}

hr {border-color: var(--pkt-border);margin: 30px 0;width: 100%;}
hr.underline {margin: 10px 0 30px 0;}
h3 {font-size: 30px;margin: 10px 0;font-weight:200;}
.panel {
    box-shadow: var(--lightshadow),var(--bevel);
	background: var(--layer0);
	border: 1px solid var(--pkt-border);
	backdrop-filter: var(--pkt-filter);
	border-radius: 10px;
	background: var(--pkt-bg);
	box-shadow: var(--pkt-shadow);
}

.login {
    width: 500px;
    padding: 40px 20px;
	margin: 20px;
}

.contentContainer {
	display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	animation: riseIn .5s ease;
}
main {
	backdrop-filter: blur(10px) brightness(0.3);
	inset: 0;
	position: fixed;
	overflow-y: auto;
	padding: 80px 15vw;
    animation: fadeIn .5s ease;
}
main.centered {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}
span.muted {
	color: var(--mute-color)
}

h2 {
    font-size: 40px;
    align-self: flex-start;
}

.bigbtn {
	font-size: 25px;
	padding: 20px;
    margin: 30px 0;
	font-weight: 800;
    border-radius: 50px;
	text-decoration: none;
	background: rgba(0,0,0,0.3);
    text-align:center;
}

#pb-AdminPanel {
	position: fixed;
    top: 20px;
    right: 20px;
    width: 500px;
    overflow-y: auto;
    height: 600px;
    resize: both;
    padding: 10px 20px;
	z-index: 999;
	padding-top: 0;
	background: radial-gradient(circle at 100% 0%,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

#pb-AdminPanel .header {
	margin: 0 -20px;
	padding: 20px;
	cursor:move;
	user-select: none;
	backdrop-filter: brightness(1000%);
}

.alertMsg {
	position:fixed;
	top:30px;
	display:flex;
	width:100%;
	justify-content: center;
	opacity:0;
	transform: scale(0.9);
	transition: all .3s ease-in-out;
    z-index: 9999;
	pointer-events: none;
}

.alertMsg.visible {
	opacity:1;
	transform: scale(1);
}

.alertMsg_Msg {
	font-size: 15px;
	padding: 10px 20px;
	color:var(--alert-light);
    width: max-content;
    backdrop-filter: var(--pkt-filter);
    background: var(--pkt-bg-dark);
    border: 1px solid white;
    box-shadow: 0 0 10px var(--alert-color), 0 0 10px var(--alert-color) inset;
	pointer-events: all;
}

.alertMsg.success .alertMsg_Msg {
	color:var(--success-light);
    border: 1px solid white;
    box-shadow: 0 0 10px var(--success-color), 0 0 10px var(--success-color) inset;
}
.pb-text-label {
	display:flex;
	flex-direction:column;
	font-size:14px;
	align-items:flex-start;
	width:100%;
}
#pb-actionContainer {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	padding: 30px 40px;
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.6),transparent);
	z-index: 99;
}
.footer_img {
	margin-bottom: 10px;
}

.toggle {
  margin:0!important;
  cursor:pointer
}
.toggle-label {
  font-size:.9rem;
}
.toggle {
  display:flex!important;
  justify-content:center;
  flex-direction:column;
  box-sizing:content-box;
  border-radius:50px;
  width:fit-content;
  aspect-ratio:2;
  height:1.5rem;
  border:1px solid var(--pkt-border);
  position:relative;
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: .07rem;
  text-transform: uppercase;
  color: var(--mute-color);
}
.toggle-track {
  background:radial-gradient(circle at 0 50%,rgba(255,255,255,.4),transparent,rgba(120,80,255,.8));
  transition:background-position-x .2s;
  position:absolute;
  inset:0;
  padding:0;
  background-repeat:no-repeat;
  border:0;
  background-size:200%;
  background-position-x:0%
}
.toggle input:checked+.toggle-track {
  background-position-x:100%
}
.toggle input {
  appearance:none;
  position:absolute;
  aspect-ratio:1;
  width:fit-content;
  border-radius:50%;
  background:#fff;
  transform:scale(.75);
  transition:transform .25s cubic-bezier(.34, 1.56, .64, 1);
  pointer-events:none;
  z-index:1;
  height:100%;
  box-shadow:0 0 15px rgba(255,255,255,.7)
}
.toggle input:checked:active {
  transform:translate(100%,0) scaleY(.75) scaleX(1)
}
.toggle input:active {
  transform:scaleY(.75) scaleX(1)
}
.toggle input:checked {
  transform:translate(100%,0) scale(.75)
}

.inputset {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
}

.timeComponent {
    padding: 5px 10px;
    border-radius: 30px;
    width: max-content;
}

.icon-admin {
	background: currentColor;
	display: inline-block;
	width: 2em;
	height: 2em;
	-webkit-mask: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 5.33301V14.4004C27.9998 27.7314 16.0037 31.9987 16 32C16 32 4.00023 27.7334 4 14.4004V5.33301L16 0L28 5.33301ZM15.9229 17.001C13.9112 17.0166 11.9505 17.638 10.2979 18.7852C9.57843 19.2846 8.93184 19.874 8.37207 20.5352C7.85315 21.1483 7.86683 22.0429 8.39355 22.6494C10.0329 24.5363 12.4487 26 16 26C19.5516 26 21.9672 24.5357 23.6064 22.6484C24.1332 22.0418 24.1463 21.1472 23.627 20.5342C23.0339 19.8343 22.3443 19.2154 21.5742 18.6982C19.904 17.5768 17.9345 16.9855 15.9229 17.001ZM16 7C13.7909 7 12 8.79086 12 11C12 13.2091 13.7909 15 16 15C18.2091 15 20 13.2091 20 11C20 8.79086 18.2091 7 16 7Z'/%3E%3C/svg%3E") no-repeat center / contain;
	mask: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 5.33301V14.4004C27.9998 27.7314 16.0037 31.9987 16 32C16 32 4.00023 27.7334 4 14.4004V5.33301L16 0L28 5.33301ZM15.9229 17.001C13.9112 17.0166 11.9505 17.638 10.2979 18.7852C9.57843 19.2846 8.93184 19.874 8.37207 20.5352C7.85315 21.1483 7.86683 22.0429 8.39355 22.6494C10.0329 24.5363 12.4487 26 16 26C19.5516 26 21.9672 24.5357 23.6064 22.6484C24.1332 22.0418 24.1463 21.1472 23.627 20.5342C23.0339 19.8343 22.3443 19.2154 21.5742 18.6982C19.904 17.5768 17.9345 16.9855 15.9229 17.001ZM16 7C13.7909 7 12 8.79086 12 11C12 13.2091 13.7909 15 16 15C18.2091 15 20 13.2091 20 11C20 8.79086 18.2091 7 16 7Z'/%3E%3C/svg%3E") no-repeat center / contain;
}

.bookList {
	display:grid;
	grid-template-columns: 1fr 1fr;
	width:100%;
	gap:25px;
	margin-bottom: 50px;
}

@media (width <= 768px) {
	.bookList{
		grid-template-columns: 1fr;
	}
	main{
		padding: 80px 5vw;
	}
	#pb-AdminPanel{
		top:unset;
		bottom:20px;
		width:200px;
	}
}